.button {
    font-size: 16px;
    padding: 15px 20px;
    background: #1f69c1;
    border: none;
    border-radius: 1em;
    color: #fafafa;
}

.button:hover {
    cursor: pointer;
    background: #3378cb;
}

.button:disabled {
    cursor: no-drop;
    background: #cccccc;
}